#footer{background-color:#2BAEB9;background-image:none;color:#fff;f}
#footer i{color:#d64f4f;font-size:1.2rem;line-height:1;margin-top:3px}
#footer .ui-tiled{height:62px;background:rgba(43,174,185)}
#footer i{width:32px;height:32px;display:block;background-repeat:no-repeat;background-size:32px 32px;background-position:center center}
#footer i.ft1{background-image:url(../img/ft/ft1.png)}
#footer i.ft2{background-image:url(../img/ft/ft2.png)}
#footer i.ft3{background-image:url(../img/ft/ft3.png)}
#footer i.ft4{background-image:url(../img/ft/ft4.png)}
#footer i.ft5{background-image:url(../img/ft/ft5.png)}
#footer li{font-size:1.4rem}
#footer li.active{background:#4D4E4C}
.ui-icon,[class^=ui-icon-]{font-family:iconfont!important;font-size:32px;line-height:44px;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.2px;display:block;color:rgba(0,0,0,.5)}
#footer li.active i,#footer li:active i,#footer li:hover i{color:#ffcc01}
.ui-footer,.ui-header{position:fixed;width:100%;max-width:750px;min-width:320px;margin:0 auto;z-index:199}
.ui-footer{bottom:0;height:56px}
.ui-center,.ui-flex,.ui-tiled{width:100%;display:-webkit-box}
.ui-flex-align-center,.ui-tiled li{-webkit-box-align:center}
.ui-tiled li{-webkit-box-flex:1;width:100%;text-align:center;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center}
