@charset "utf-8";
html,body { width: 100%; height: 100%; position: relative; background-color: #FFFFFF; color: #434343;}
html{font-size:62.5%}
body{ font-size: 1.6rem;font-family: Microsoft Yahei;}
*:focus { outline: none; } 
textarea { resize:none; }
ul,li{list-style: none;}
.clearfix:after,.clearfix:before{
	content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.p-r{ position: relative;}

.line{ height: 0.5rem; background: #bbbbbb; width: 100%; clear: both;}

.chead{ height: 4.5rem; line-height: 4.5rem; position: relative; background: #2BAEB9;}
.chead .back{ position: absolute; left: 1.4rem;}
.chead .back i{ color: #FFFFFF; font-size: 1.4rem;}
.chead h3{ color: #FFFFFF; text-align: center; }

.uhead{ height: 22rem;  background: rgba(43, 174, 185, 1);}
.uhead .uhead1{ padding-top: 3rem; padding-left: 5rem;}
.uhead .face{ width: 8rem; height: 8rem; overflow: hidden; border-radius: 50%; float: left;}
.uhead .face img{ width: 100%; height: 100%;}
.uhead .info{ margin-left: 1.4rem; float: left;}
.uhead .info .tit{ font-size: 1.4rem; color: #FFFFFF; margin-top: 1.4rem;}
.uhead .info .oper{ margin-top: 1.2rem;}
.uhead .info .oper span{ color: #FFFFFF; font-size: 1.4rem; margin-right: 1rem;}
.uhead .info .btn{width:7.4rem;height:3rem;line-height:3rem;border-radius:.3rem;background-color:rgba(255,255,255,1);color:rgba(43,174,185,1);font-size:1.4rem;text-align:center;border:.1px solid rgba(43,174,185,1);display:inline-block}
.uhead .info .btn:first-child{margin-right:1rem}
.uhead .info-vip .desc{color:#FFF;font-size:1.2rem;margin-top:.2rem}
.uhead .info-vip .tit{margin-top:.5rem}
.uhead .info-vip .oper{margin-top:0}
.uhead .info-vip .btn{height:2.2rem;line-height:2.2rem;width:5rem;font-size:1.2rem}
.uhead .uhead2 {  margin-top: 2rem;   line-height: initial; height: 9rem; text-align: center; background: #FFFFFF; border-radius: 4rem 4rem 0 0;}
.uhead .uhead2 .weui-flex__item{ height: 6.5rem; margin-top: 2rem;}
.uhead .uhead2 .weui-flex__item:first-child{ border-right: 1px solid rgba(187, 187, 187, 0.33);}
.uhead .uhead2 .l{ color: #2BAEB9;}
.uhead .uhead2 .l span{ font-size: 3.2rem;}
.uhead .uhead2 .l p{ font-size: 1.4rem;}
.uhead .uhead2 .r{}
.uhead .uhead2 .r .item{ width: 50%; float: left; }
.uhead .uhead2 .r p{ height: 3.5rem; line-height: 3.8rem;}
.uhead .uhead2 .r i{color: #2BAEB9; font-size: 4rem;}
.uhead .uhead2 .r span.name{font-size: 1.2rem; display: block;  color: rgba(77, 78, 76, 0.87);}
.uhead .uhead2 .r span{font-size: 1.0rem;display: block; color: rgba(145, 147, 144, 0.87);}
.um1 .bd{color:#2BAEB9;width:12rem;margin:0 auto;height:4.3rem;margin-top:1rem;margin-bottom:1rem;text-align:center}
.um1 i{font-size:4.5rem;line-height:4rem;height:4rem;float:left}
.um1 span{display:block;font-size:1.4rem}
.um1 .weui-flex__item:first-child:after{border-right:1px solid rgba(187,187,187,.33);height:80%;content:"";display:block;width:1px;position:absolute;right:0;top:10%}
.um2{line-height: 0;}
.um2 img{ width: 100%; height: auto;}
.un-grids{ text-align: center; line-height: 1.6rem;}
.un-grids i{     font-size: 3.5rem; height: 3.5rem; line-height: 3.5rem;color: #2BAEB9;}
.un-grids p{ font-size: 1.4rem; color: rgba(77, 78, 76, 0.87);}
.un-grids span{ font-size: 1.2rem; color: rgba(145, 147, 144, 0.87);}
.un-grids .weui-flex{ padding: 2rem 0;}
.um-out{ padding: 1rem 0;}


/*登录注册*/
.signup{background: #FFFFFF;}
.signup .back{ position: absolute; left: 1.4rem; height: 2rem; width: 2rem; top: 1rem;}
.signup .back i{ color: #2BAEB9; font-size: 1.4rem;}
.signup .hd{width:100%;height:15rem;background-size: cover;background-image:url(../img/user/login-reg-bg.jpg);background-color:#2BAEB9}
.signup .bd{line-height:initial;margin-bottom:10rem;margin-top:-2.5rem}
.signup .bd h3{text-align:center;height:5rem;line-height:5rem;border-radius:2rem 2rem 0 0;background-color:#2BAEB9;color:#FFF}
.signup .form{width:75%;margin:0 auto;margin-top:5rem}
.signup .form input::-webkit-input-placeholder{color:#2BAEB9}
.signup .form input:-moz-placeholder{color:#2BAEB9}
.signup .form input:-ms-input-placeholder{color:#2BAEB9}
.form .col{margin-bottom:4rem}
.form .col .iconfont{font-size:2rem;width:3rem;padding:.5rem 0}
.form .col input{font-size:1.2rem;line-height:1.2rem;border:0 none;border-bottom:1px solid rgba(187,187,187,.2);padding:.5rem}
.submit button{width:100%;background-color:#2BAEB9;color:#FFF;border:0 none;font-size:1.4rem;height:4.2rem;line-height:4.2rem;border-radius:2rem}
.signup .ft{font-size:1.4rem;width:100%;text-align:center;margin-bottom:1rem}
.signup .ft a{color:#2BAEB9}


/*页面内部模块标题*/
.mould-title { padding-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid #ECEAEA;}
.mould-title h3{ border-left:0.5rem solid #2BAEB9 ;text-indent: 1.4rem; height: 2.5rem; line-height: 2.5rem;font-size: 1.4rem;}
.mould-desc{color: #2BAEB9; font-size: 1.4rem; padding: 1rem 0; text-indent: 2.5rem;}

/*升级VIP*/
.vipmain{ width: 80%; margin: 0 auto; margin-top: 6rem;}
.vipmain-item{ font-size: 1.6rem; overflow: hidden; text-align: center;
	 margin-bottom: 3.5rem; border: 1px solid #2BAEB9;border-radius:3rem; height: 5.4rem;}
.vipmain-item .item-l{ background: #2BAEB9; width: 48%; float: left; color: #FFFFFF;height: 100%;}
.vipmain-item .item-r{ width: 52%; float: left; color: #2BAEB9;height: 100%;}
.vipmain-item p{ height: 2.7rem; line-height: 2.7rem;}

.payment{}
.payment .hd{ margin-top: 1.5rem;}
.payment .hd .desc{ color: #2BAEB9; font-size: 1.4rem; padding: 1rem 0;}
.payment .hd span:first-child{ margin-left: 2.4rem;}
.payment .hd .price{ width:9rem}
.payment .bd{ margin-top: 1rem;}
.payment .items{ margin-top: 4rem; text-align: center;}
.payment .items a{ margin-bottom: 3rem; display: block;}
.payment .items img{ width: 240px; height: 80px;}


/*单页面模板*/
.about{background: #FFFFFF;}
.about .back{ position: absolute; left: 1.4rem; height: 2rem; width: 2rem; top: 1rem;}
.about .back i{ color: #2BAEB9; font-size: 1.4rem;}
.about .hd{width:100%;height:15rem;background-size: cover;background-color:#2BAEB9}
.about .abg1{background-image:url(../img/user/login-reg-bg.jpg);}
.about .abg2{background-image:url(../img/user/login-reg-bg.jpg);}
.about .abg3{background-image:url(../img/user/login-reg-bg.jpg);}
.about .abg4{background-image:url(../img/user/login-reg-bg.jpg);}
.about .bd{line-height:initial;margin-bottom:2rem;margin-top:-2.5rem}
.about .bd h1{text-align:center;height:5rem;line-height:5rem;border-radius:2rem 2rem 0 0;background-color:#2BAEB9;color:#FFF;    font-size: 2rem;}
.about .mould-desc{ margin-bottom: 1rem;}

.about .content{ padding: 2rem 3rem;}
.about .content p{ font-size: 1.4rem; line-height: 2rem; margin-bottom: 0.5rem;}
/*商务合作*/
.coo-tit{}
.coo-tit{ padding: 2.5rem 0; font-size: 2rem; text-align: center; border-bottom: 1px solid #ECEAEA;}
.coo-items{ width: 80%; margin: 0 auto; padding-top: 1.5rem;}
.coo-item{ margin-bottom: 1.8rem;}
.coo-item span{ width: 8rem; height: 5rem;}
.coo-item span i{ font-size: 5rem;}
.coo-item p{ line-height: 2.5rem; font-size: 1.6rem;}
.coo-item i.icon-youjian{ color: red;}

.feedback{  padding: 3rem;}
.feedback textarea{ width: 100%; border: 1px solid #888888; height: 20rem; padding: 1rem;    box-sizing: border-box; border-radius: 0.5rem;font-size: 1.2rem;}
.feedback p{ margin-top: 2rem; text-align: center;}
.feedback p button{ border: 1px solid #2BAEB9; background: #FFFFFF; width: 80%; height: 4rem; line-height: 4rem; color: #2BAEB9; font-size: 1.4rem; border-radius: 2rem;}