.container .line{ height: 2px; background: #c0c5c5; clear: both; width: 100%;}

.video-title{background:#000;padding:10px 16px;line-height:25px}
.video-container{width:100%;height:250px}
.video-plan1{width:250px;margin:0 auto}
.video-plan1-name{color:#fff;font-size:20px;line-height:56px;text-align:center;background:#ec567c;border-radius:5px 5px 0 0}
.video-plan1-box{background:#fff;margin:0;padding:0;margin-bottom:6px}
.video-plan1-box li{list-style:none;padding:10px;border-bottom:1px solid #e6e6e6}
.plan-time{float:left}
.plan-txt{display:block;color:#ec567c;font-size:24px;text-indent:0;padding-left:20px;margin-top:3px;background-position:0 -580px}
.plan-price{padding-top:9px;text-align:right}
.plan-price .price-ntd{display:block;color:#000;font-size:16px}
.can-click{cursor:pointer}
.btn-blue{display:block;font-size:18px;line-height:1.33333;padding:0 10px;margin-bottom:5px;background:#0091ea;border-radius:6px;padding:10px 16px;margin:15px;text-align:center;color:#fff;font-weight:900}
.b_count_down{position:absolute;right:10px;top:10px;background:#000;color:#FFF;padding:5px 15px;font-size:14px}
.video-title{background:#000;padding:10px 16px;line-height:25px}
.video-container{width:100%;height:250px}
.video-plan1{width:250px;margin:0 auto}
.video-plan1-name{color:#fff;font-size:20px;line-height:56px;text-align:center;background:#ec567c;border-radius:5px 5px 0 0}
.video-plan1-box{background:#fff;margin:0;padding:0;margin-bottom:6px}
.video-plan1-box li{list-style:none;padding:10px;border-bottom:1px solid #e6e6e6}
.plan-time{float:left}
.plan-txt{display:block;color:#ec567c;font-size:24px;text-indent:0;padding-left:20px;margin-top:3px;background-position:0 -580px}
.plan-price{padding-top:9px;text-align:right}
.plan-price .price-ntd{display:block;color:#000;font-size:16px}
.can-click{cursor:pointer}
.btn-blue{display:block;font-size:18px;line-height:1.33333;padding:0 10px;margin-bottom:5px;background:#0091ea;border-radius:6px;padding:10px 16px;margin:15px;text-align:center;color:#fff;font-weight:900}
.b_count_down{position:absolute;right:10px;top:10px;background:#000;color:#FFF;padding:5px 15px;font-size:14px}
#change{margin:0 auto;padding-bottom:0;background:#383535;overflow:hidden;margin-bottom:1rem;text-align:right;color:#FFF;padding:1rem 2rem}
.introduce{padding:1rem 1rem}
.introduce h3{font-size:1.5rem}
.other{line-height:30px;font-size:1.2rem}
.other i{color:#2BAEB9}
.other .r{float:right;margin-left:1.2rem}
#playTip2{height:32px;margin-top:10px;width:100%}
#playTip2 .ck1{height:32px;line-height:32px;text-align:center;width:23%;float:left;margin-right:2.5%;font-size:14px}
#playTip2 .ck1 a{display:inline-block;border:1px solid #2BAEB9;color:#2BAEB9;border-radius:5px;width:100%}
#playTip2 .ck1 a.active{ background: #2BAEB9; color: #FFFFFF;}
#playTip2 .ck2{margin-right:0}
.mould-title{padding-top:1rem;padding-bottom:1rem;border-bottom:1px solid #ECEAEA;position: relative;}
.mould-title h3{border-left:.5rem solid #2BAEB9;text-indent:1.4rem;height:2.5rem;line-height:2.5rem;font-size:1.4rem}
.mould-title .ref{ position: absolute; right: 1.2rem; top: 1.2rem;
			transition: rotate 1s linear infinite;
            -webkit-transition: rotate 1s linear infinite;
            -moz-transition: rotate 1s linear infinite;
            -o-transition: rotate 1s linear infinite;
}
.mould-title .ref i{ font-size: 2rem; color: #2BAEB9; font-weight: bold;}
.mould-title .ref360
   {  -webkit-animation: rotate 3s linear infinite;
    -moz-animation: rotate 3s linear infinite;
    -o-animation: rotate 3s linear infinite;
    animation: rotate 3s linear infinite;
    }
@-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
    to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
    to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{from{-o-transform: rotate(0deg)}
    to{-o-transform: rotate(359deg)}
}
@keyframes rotate{from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}